<div class="py-4 px-4">
    <span class="label-secondary-buttons d-block">Pills</span>
  
    <div class="pill-wrapper d-flex justify-content-between">
        <div class="pill-box">
            <span class="pill-completed">Completed</span>       
            <span class="pill-inprogress">In Progress</span>
            <span class="pill-delayed">Delayed</span>
            <span class="pill-cancelled">Cancelled</span>
          </div>
          
          <div class="pill-box">
            <span class="pill-dated">01/15/2023</span>       
            <span class="pill-timed">5:44:33 PM</span>
          </div>
          
          <div class="pill-box">
            <span class="pill-unpaid">Unpaid</span>       
            <span class="pill-paid">Paid</span>
          </div>
          
          <div class="pill-box">
            <span class="pill-false">False</span>       
            <span class="pill-true">True</span>
          </div>
          
          <div class="pill-box">
            <span class="pill-rush">Rush</span>       
          </div>
          <div class="pill-box">
            <span class="pill-primary-contact">Primary Contact</span>       
          </div>
    </div>
  </div>