<h5>Primary Colors</h5>

<div class="item-palette">
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#000000</div>
            <div class="label">$black</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#666666</div>
            <div class="label">$primary-grey-shade1</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#777777</div>
            <div class="label">$primary-grey-shade2</div>
        </div>
    </div>
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#E0E0E0</div>
            <div class="label">$primary-grey-shade3</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#F3F3F3</div>
            <div class="label">$primary-grey-shade4</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#33414E</div>
            <div class="label">$primary-grey-shade5</div>
        </div>
    </div>
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#0C5AA3</div>
            <div class="label">$primary-blue-shade1</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#2C7EB7</div>
            <div class="label">$primary-blue-shade2</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#FFFFFF</div>
            <div class="label">$white</div>
        </div>
    </div>
</div>


<h5>Secondary Colors</h5>
<div class="secondary-item-palette">
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#2F8F3F</div>
            <div class="label">$secondary-green-shade1</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#E1F9E1</div>
            <div class="label">$secondary-green-shade2</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#006CD0</div>
            <div class="label">$secondary-blue-shade1</div>
        </div>
    </div>
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#A6C8EF</div>
            <div class="label">$secondary-blue-shade2</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#D1EDFC</div>
            <div class="label">$secondary-blue-shade3</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#FC0000</div>
            <div class="label">$secondary-red-shade1</div>
        </div>
    </div>
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#F9AFAF</div>
            <div class="label">$secondary-red-shade2</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#D26262</div>
            <div class="label">$secondary-red-shade3</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#E56D6D</div>
            <div class="label">$secondary-red-shade4</div>
        </div>
    </div>
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#FFEFEF</div>
            <div class="label">$secondary-red-shade5</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#F0AD4E</div>
            <div class="label">$secondary-yellow-shade</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#484848</div>
            <div class="label">$secondary-grey-shade1</div>
        </div>
    </div>
    <div class="example">
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#A5A5A5</div>
            <div class="label">$secondary-grey-shade2</div>
        </div>
        <div class="list-block">
            <div class="color"></div>
            <div class="color-label">#595959</div>
            <div class="label">$secondary-grey-shade3</div>
        </div>
    </div>
</div>
