//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Import variables
@import '../../../styles/variables';

// Import mixins
@import '../../../styles/mixins';

@import '../../../styles/fonts';

$color_1: #5A5E64;

.mat-mdc-table.fontSizesTable {
	.mat-mdc-row {
		font-family: $font-family !important;
		&:nth-child(1) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size60px;
					line-height: 72px;
					padding: 5px;
				}
			}
		}
		&:nth-child(2) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size48px;
					line-height: 60px;
					padding: 5px;
				}
			}      
		}
		&:nth-child(3) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size32px;
					line-height: 48px;
					padding: 5px;
				}
			}
		}
		&:nth-child(4) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size28px;
					line-height: 36px;
					padding: 5px;
				}
			}
		}
		&:nth-child(5) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size24px;
					line-height: 32px;
					padding: 5px;
				}
			}
		}
		&:nth-child(6) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size20px;
					line-height: 28px;
					padding: 5px;
				}
			}
		}
		&:nth-child(7) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size16px;
					line-height: 24px;
					padding: 5px;
				}
			}
		}
		&:nth-child(8) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size14px;
					line-height: 20px;
					padding: 5px;
				}
			}
		}
		&:nth-child(9) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size12px;
					line-height: 18px;
					padding: 5px;
				}
			}
		}
		&:nth-child(10) {
			.mat-mdc-cell {
				&:nth-child(1) {
					font-size: $font-size10px;
					line-height: 16px;
					padding: 5px;
				}
			}
		}
		td {
			&:not(:last-child) {
				border-right: 1px solid #D4DFF2;
			}
		}
	}
	.mdc-data-table__content {
		font-family: $font-family !important;
	}
	.mat-mdc-header-row {
		th.mat-mdc-header-cell {
			font-size: $font-size12px;
			font-weight: 400;
			line-height: 20px;
			color: $color_1;
			background: #F6f9fc;
			border: none;
		}
		th {
			&:not(:last-child) {
				border-right: 1px solid #D4DFF2;
			}
		}
	}
}
