// Import variables
@import './variables';

// Import mixins
@import './mixins';


.row>* {
    flex-shrink: 0;
    // width: 100%;
    max-width: 100%;
    // padding-right: calc($grid-gutter * 0.5rem);
    // padding-left: calc($grid-gutter * 0.5rem);
  }
  
  .row {
    @include row(1.5rem);
  }
  
  .container {
    @include containerwidth(90%, 1.5rem);
  }
  
  .container-fluid {
    @include containerwidth(100%, 0rem);
  }
  
  .column-1 {
    @include make-grid(1);
  }
  
  .column-2 {
    @include make-grid(2);
  }
  
  .column-3 {
    @include make-grid(3);
  }
  
  .column-4 {
    @include make-grid(4);
  }
  
  .column-5 {
    @include make-grid(5);
  }
  
  .column-6 {
    @include make-grid(6);
  }
  
  .column-7 {
    @include make-grid(7);
  }
  
  .column-8 {
    @include make-grid(8);
  }
  
  .column-9 {
    @include make-grid(9);
  }
  
  .column-10 {
    @include make-grid(10);
  }
  
  .column-11 {
    @include make-grid(11);
  }
  
  .column-12 {
    @include make-grid(12);
  }
  
  .more p {
    color: #8155c9;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  
  .my-margin-2 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  // .red {
  //   color: $error-color;
  
  //   .icon-box {
  //     color: $error-color !important;
  //   }
  // }
  
  .w-90 {
    width: 90%;
  }
  
  .hide {
    display: none !important;
  }
  
  .flex-1 {
    flex: 1
  }
  
  .flex-column {
    flex-direction: column !important;
  }
  
  .d-none-lg {
    display: none !important;
  }
  .position-absolute{
    position: absolute;
  }
  // @include ipadpro() {
  //   .col-sm-1 {
  //     @include make-grid(1);
  //   }
  
  //   .col-sm-2 {
  //     @include make-grid(2);
  //   }
  
  //   .col-sm-3 {
  //     @include make-grid(3);
  //   }
  
  //   .col-sm-4 {
  //     @include make-grid(4);
  //   }
  
  //   .col-sm-5 {
  //     @include make-grid(5);
  //   }
  
  //   .col-sm-6 {
  //     @include make-grid(6);
  //   }
  
  //   .col-sm-7 {
  //     @include make-grid(7);
  //   }
  
  //   .col-sm-8 {
  //     @include make-grid(8);
  //   }
  
  //   .col-sm-9 {
  //     @include make-grid(9);
  //   }
  
  //   .col-sm-10 {
  //     @include make-grid(10);
  //   }
  
  //   .col-sm-11 {
  //     @include make-grid(11);
  //   }
  
  //   .col-sm-12 {
  //     @include make-grid(12);
  //   }
  // }
  
  // @include mobile-screens() {
  //   .col-xs-12 {
  //     @include make-grid(12);
  //   }
  // }